@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,
body {
  overflow-x: hidden;
}

body {
  margin: 95px 0 0 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  cursor: none;
}

.showCursor {
  cursor: auto !important;
}
/* Remove margin for screens below 768px */
@media (max-width: 767.98px) {
  body {
    margin-top: 0;
  }
}

.App {
  min-height: 100vh;
}
